#example
#[[project]]
#project_addr = "" // 项目地址
#secret = "" // webhook secret
#dir = "" // 项目目录
#shell_name = ""

[[project]]
project_addr="http://github.com/Laily123/test" 
secret = ""
dir = "/home/Laily/test"
shell_name = "deploy.sh"
